{% extends "layout.html" %}

{% block title %} {{ user.username }} {% endblock %}

{% block content %}
<div class="container">
    {% include "parts/alerts.html" %}

    <div class="row">
        <div class="col col-12 col-md-6 p-4">
            <img src="{{ user.avatar }}" alt="{{ user.username }}'s avatar" class="w-100">
        </div>
        <div class="col col-12 col-md-6 d-flex flex-column align-items-center justify-content-center p-4">
            <h2>{{ user.username }}</h2>
            <div class="my-3">
                <form method="post">
                    <input type="hidden" name="userId" id="userIdInput" value="{{ user._id }}">
                    <div id="options">
                        {% if user._id|string == session.user._id|string %}
                        Just You
                        {% elif session.user._id|string in user.friendIds %}
                        <a href="#" class="btn btn-success">Chat</a>
                        <button type="submit" formaction="/friends/unfriend" class="btn btn-danger">Unfriend</button>
                        {% elif session.user._id|string in user.sentRequests %}
                        <button type="submit" formaction="/friends/accept" class="btn btn-primary">Accept</button>
                        <button type="submit" formaction="/friends/decline" class="btn btn-danger">Decline</button>
                        {% elif session.user._id|string in user.receivedRequests %}
                        <button type="button" onclick="cancelFriendRequest();" class="btn btn-danger">Cancel Request</button>
                        {% else %}
                        <button type="button" onclick="addFriend();" class="btn btn-primary">Add Friend</button>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/socket/profile.js"></script>
{% endblock %}