<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand" href="/">Chat App</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                {% if session.user %}
                <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/friends">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/groups">Groups</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="friendRequestsDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Friend Requests <span id="requestsCount" class="rounded-pill bg-danger p-1">{{ receivedRequests|length }}</span>
                    </a>
                    <ul id="receivedRequestsList" class="dropdown-menu" aria-labelledby="friendRequestsDropdown">
                        {% for user in receivedRequests %}
                        <li id="request{{ user._id }}"><a class="dropdown-item" href="/profile/{{ user._id }}">{{ user.username }}</a></li>
                        {% else %}
                        <li id="noRequests" class="dropdown-item">No Requests to show</li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/signup">Signup</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>